.btn{
  padding: 12px 24px;
      font-size: 16px;
      font-weight: bold;
      color: white;
      border: none;
      border-radius: 30px;
      background: linear-gradient(45deg, #f58529, #d1306c, #8a3ab9, #6a0dad);
      background-size: 400% 400%;
      animation: gradient-animation 3s ease infinite;
      cursor: pointer;
      transition: transform 0.3s ease;

}

.div1{
  margin-left: 480px;
  border: 3px solid black;
  max-width: 400px;
  padding-left: 200px;
  padding-bottom: 40px;
  background-color: #FFFFCC;
  margin-top: 100px;
}

.heading{
  padding-right: 140px;
}